<!DOCTYPE html>
<html lang="zxx">
  <head>
    <% include ../partial/head %>
  </head>

  <body>
    <!-- Start: Header Section -->
    <% include ../partial/header %>
    <!-- End: Header Section -->

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
      <div class="container">
        <div class="banner-header">
          <h2>Contact Us</h2>
          <span class="underline center"></span>
          <p class="lead">Can Contact Us following way</p>
        </div>
        <div class="breadcrumb">
          <ul>
            <li><a href="/user">Home</a></li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- End: Page Banner -->

    <!-- Start: Contact Us Section -->
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div class="contact-main">
            <div class="contact-us">
              <div class="container">
                <div class="contact-location">
                  <div class="flipcard">
                    <div class="front">
                      <div class="top-info">
                        <span
                          ><i class="fa fa-map-marker" aria-hidden="true"></i>
                          Office Address</span
                        >
                      </div>
                      <div class="bottom-info">
                        <span class="top-arrow"></span>
                        <ul>
                          <li>Department of Electronic Engineering</li>
                          <li>Pyay Technological University</li>
                          <li>Pyay</li>
                        </ul>
                      </div>
                    </div>
                    <div class="back">
                      <div class="bottom-info orange-bg">
                        <span class="bottom-arrow"></span>
                        <ul>
                          <li>Department of Electronic Engineering</li>
                          <li>Pyay Technological University</li>
                          <li>Pyay</li>
                        </ul>
                      </div>
                      <div class="top-info dark-bg">
                        <span
                          ><i class="fa fa-map-marker" aria-hidden="true"></i>
                          Office Address</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="flipcard">
                    <div class="front">
                      <div class="top-info">
                        <span
                          ><i class="fa fa-fax" aria-hidden="true"></i> Phone
                          </span
                        >
                      </div>
                      <div class="bottom-info">
                        <span class="top-arrow"></span>
                        <ul>
                          <li>
                            <a href="tel:09254031859">Local: 09254031859</a>
                          </li>
                          <li>
                            <a href="tel:09254982169">Local: 09254982169</a>
                          </li>
                          <li>
                            <a href="tel:09444083031">Local: 09444083031</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="back">
                      <div class="bottom-info orange-bg">
                        <span class="bottom-arrow"></span>
                        <ul>
                          <li>
                            <a href="tel:09254031859">Local: 09254031859</a>
                          </li>
                          <li>
                            <a href="tel:09254982169">Local: 09254982169</a>
                          </li>
                          <li>
                            <a href="tel:09444083031">Local: 09444083031</a>
                          </li>
                        </ul>
                      </div>
                      <div class="top-info dark-bg">
                        <span
                          ><i class="fa fa-fax" aria-hidden="true"></i> Phone</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="flipcard">
                    <div class="front">
                      <div class="top-info">
                        <span
                          ><i class="fa fa-envelope" aria-hidden="true"></i>
                          Email Address</span
                        >
                      </div>
                      <div class="bottom-info">
                        <span class="top-arrow"></span>
                        <ul>
                          <li>electronic.ptu@gmail.com</li>
                          <!-- <li>support@libraria.com</li>
                          <li>info@libraria.com</li> -->
                        </ul>
                      </div>
                    </div>
                    <div class="back">
                      <div class="bottom-info orange-bg">
                        <span class="bottom-arrow"></span>
                        <ul>
                          <!-- <li>
                            <a href="http://www.libraria.com/"
                              >www.libraria.com
                            </a>
                          </li> -->
                          <li>
                            <a href="mailto:electronic.ptu@gmail.comm"
                              >electronic.ptu@gmail.com</a
                            >
                          </li>
                          <!-- <li>
                            <a href="mailto:info@libraria.com"
                              >info@libraria.com</a
                            >
                          </li> -->
                        </ul>
                      </div>
                      <div class="top-info dark-bg">
                        <span
                          ><i class="fa fa-envelope" aria-hidden="true"></i>
                          Email Address</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- End: Contact Us Section -->

    <!-- Start: Social Network -->
    <% include ../partial/social %>
    <!-- End: Social Network -->

    <!-- Start: Footer -->
    <% include ../partial/footer %>
    <!-- End: Footer -->

    <% include ../partial/script %>
  </body>
</html>
