<!DOCTYPE html>
<html lang="zxx">
  <head>
    <% include ../partial/head %>
  </head>

  <body>
    <!-- Start: Header Section -->
    <% include ../partial/header %>
    <!-- End: Header Section -->

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
      <div class="container">
        <div class="banner-header">
          <h2>Our Rules and Disciplines</h2>
          <span class="underline center"></span>
          <p class="lead">
            Members need to understand our Rules and Disciplines
          </p>
        </div>
        <div class="breadcrumb">
          <ul>
            <li><a href="/user">Home</a></li>
            <li>Rules and Disciplines</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- End: Page Banner -->
    <!-- Start: Services Section -->
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div class="services-main">
            <div class="services-pg">
              <section class="services-offering">
                <div class="container">
                  <div class="center-content">
                    <h2 class="section-title">Rules and Disciplines</h2>
                    <span class="underline center"></span>
                    <p class="lead">
                      Member need to understand our Rules and Disciplines
                    </p>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="contact-location">
                    <div class="flipcard">
                      <div class="front">
                        <div class="top-info">
                          <h3>
                            <i class="fa fa-calendar" aria-hidden="true"></i
                            ><span>Borrowing Time</span>
                          </h3>
                        </div>
                        <div class="bottom-info">
                          <span class="top-arrow"></span>
                          <p>
                            It aims to rent two books two weeks for teachers and
                            one book a week for student on kind of book.
                          </p>
                        </div>
                      </div>
                      <div class="back">
                        <div class="bottom-info orange-bg">
                          <span class="bottom-arrow"></span>
                          <p>
                            It aims to rent two books two weeks for teachers and
                            one book a week for student on kind of book.
                          </p>
                        </div>
                        <div class="top-info dark-bg">
                          <h3>
                            <i class="fa fa-calendar" aria-hidden="true"></i
                            ><span>Borrowing Time</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="flipcard">
                      <div class="front">
                        <div class="top-info">
                          <h3>
                            <i class="fa fa-clock-o" aria-hidden="true"></i
                            ><span>Overdue</span>
                          </h3>
                        </div>
                        <div class="bottom-info">
                          <span class="top-arrow"></span>
                          <p>
                            If the book is overdue, admin will announce the
                            warning list.
                          </p>
                        </div>
                      </div>
                      <div class="back">
                        <div class="bottom-info orange-bg">
                          <span class="bottom-arrow"></span>
                          <p>
                            If the book is overdue, admin will announce the
                            warning list.
                          </p>
                        </div>
                        <div class="top-info dark-bg">
                          <h3>
                            <i class="fa fa-clock-o" aria-hidden="true"></i
                            ><span>Overdue</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="flipcard">
                      <div class="front">
                        <div class="top-info">
                          <h3>
                            <i class="fa fa-credit-card" aria-hidden="true"></i
                            ><span>Member Card</span>
                          </h3>
                        </div>
                        <div class="bottom-info">
                          <span class="top-arrow"></span>
                          <p>
                            As RFID card is used as an library member card, user
                            will have to pay for member card.
                          </p>
                        </div>
                      </div>
                      <div class="back">
                        <div class="bottom-info orange-bg">
                          <span class="bottom-arrow"></span>
                          <p>
                            As RFID card is used as an library member card, user
                            will have to pay for member card.
                          </p>
                        </div>
                        <div class="top-info dark-bg">
                          <h3>
                            <i class="fa fa-credit-card" aria-hidden="true"></i
                            ><span>Member Card</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="flipcard">
                      <div class="front">
                        <div class="top-info">
                          <h3>
                            <i class="fa fa-info-circle" aria-hidden="true"></i
                            ><span>Losting Card</span>
                          </h3>
                        </div>
                        <div class="bottom-info">
                          <span class="top-arrow"></span>
                          <p>
                            If member card is lost, user will inform to the
                            librarian and make a new member card.
                          </p>
                        </div>
                      </div>
                      <div class="back">
                        <div class="bottom-info orange-bg">
                          <span class="bottom-arrow"></span>
                          <p>
                            If member card is lost, user will inform to the
                            librarian and make a new member card.
                          </p>
                        </div>
                        <div class="top-info dark-bg">
                          <h3>
                            <i class="fa fa-info-circle" aria-hidden="true"></i
                            ><span>Losting Card</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="flipcard">
                      <div class="front">
                        <div class="top-info">
                          <h3>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i
                            ><span>Returning Book</span>
                          </h3>
                        </div>
                        <div class="bottom-info">
                          <span class="top-arrow"></span>
                          <p>
                            In book returning process, not only user but also
                            someone can do it with RFID card
                          </p>
                        </div>
                      </div>
                      <div class="back">
                        <div class="bottom-info orange-bg">
                          <span class="bottom-arrow"></span>
                          <p>
                            In book returning process, not only user but also
                            someone can do it with RFID card
                          </p>
                        </div>
                        <div class="top-info dark-bg">
                          <h3>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i
                            ><span>Returning Book</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="flipcard">
                      <div class="front">
                        <div class="top-info">
                          <h3>
                            <i class="fa fa-briefcase" aria-hidden="true"></i
                            ><span>Need To Know</span>
                          </h3>
                        </div>
                        <div class="bottom-info">
                          <span class="top-arrow"></span>
                          <p>
                            If the book is lost or damaged, compensation must be
                            paid or bought it back.
                          </p>
                        </div>
                      </div>
                      <div class="back">
                        <div class="bottom-info orange-bg">
                          <span class="bottom-arrow"></span>
                          <p>
                            If the book is lost or damaged, compensation must be
                            paid or bought it back.
                          </p>
                        </div>
                        <div class="top-info dark-bg">
                          <h3>
                            <i class="fa fa-briefcase" aria-hidden="true"></i
                            ><span>Need to Know</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </section>
              <div class="fun-stuff">
                <div class="container">
                  <div class="facts-counter">
                    <ul>
                      <li class="col-sm-6">
                        <div class="fact-item icon-ebooks">
                          <div class="fact-icon">
                            <img src="/images/icon-ebooks.png" alt="" />
                          </div>
                          <span
                            >Books<strong class="fact-counter"
                              ><%= bcount %></strong
                            ></span
                          >
                        </div>
                      </li>
                      <li class="col-sm-6">
                        <div class="fact-item icon-eaudio">
                          <div class="fact-icon">
                            <img src="/images/icon-eaudio.png" alt="" />
                          </div>
                          <span
                            >CD<strong class="fact-counter"
                              ><%= cdcount %></strong
                            ></span
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start: Our Partners Section -->
              <!-- <section class="community-testimonial">
                <div class="container">
                  <div class="text-center">
                    <h2 class="section-title">Words From our Community</h2>
                    <span class="underline center"></span>
                    <p class="lead">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                  </div>
                  <div class="owl-carousel">
                    <div class="single-testimonial-box">
                      <div class="top-portion">
                        <img
                          src="/images/testimonial-image-01.jpg"
                          alt="Testimonial Image"
                        />
                        <div class="user-comment">
                          <div class="arrow-left"></div>
                          <blockquote cite="#">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Praesent urna magna, rhoncus eget commodo et,
                            dignissim non nulla. Sed sit amet vestibulum ex.
                            Donec dolor velit
                          </blockquote>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="bottom-portion">
                        <a href="#" class="author">
                          Adrey Pachai <small> (Student )</small>
                        </a>
                        <div class="social-share-links">
                          <ul>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-linkedin"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-facebook"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-twitter" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-skype" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-google-plus"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                      <div class="top-portion">
                        <img
                          src="/images/testimonial-image-02.jpg"
                          alt="Testimonial Image"
                        />
                        <div class="user-comment">
                          <div class="arrow-left"></div>
                          <blockquote cite="#">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Praesent urna magna, rhoncus eget commodo et,
                            dignissim non nulla. Sed sit amet vestibulum ex.
                            Donec dolor velit
                          </blockquote>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="bottom-portion">
                        <a href="#" class="author">
                          Maria B <small> (Student )</small>
                        </a>
                        <div class="social-share-links">
                          <ul>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-linkedin"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-facebook"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-twitter" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-skype" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-google-plus"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                      <div class="top-portion">
                        <img
                          src="/images/testimonial-image-01.jpg"
                          alt="Testimonial Image"
                        />
                        <div class="user-comment">
                          <div class="arrow-left"></div>
                          <blockquote cite="#">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Praesent urna magna, rhoncus eget commodo et,
                            dignissim non nulla. Sed sit amet vestibulum ex.
                            Donec dolor velit
                          </blockquote>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="bottom-portion">
                        <a href="#" class="author">
                          Adrey Pachai <small> (Student )</small>
                        </a>
                        <div class="social-share-links">
                          <ul>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-linkedin"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-facebook"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-twitter" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-skype" aria-hidden="true"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i
                                  class="fa fa-google-plus"
                                  aria-hidden="true"
                                ></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </section> -->
              <!-- End: Our Partners Section -->

              <!-- Start: Category Filter -->
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- End: Services Section -->

    <!-- Start: Social Network -->
    <!-- <% include ../partial/social %> -->
    <!-- End: Social Network -->

    <!-- Start: Footer -->
    <% include ../partial/footer %>
    <!-- End: Footer -->

    <!-- jQuery Latest Version 1.x -->
    <% include ../partial/script %>
  </body>
</html>
