<footer class="site-footer">
  <div class="container">
    <div id="footer-widgets">
      <div class="row">
        <div class="col-md-4 col-sm-6 widget-container">
          <div id="text-2" class="widget widget_text">
            <h3 class="footer-widget-title">About LMSED</h3>
            <span class="underline left"></span>
            <div class="textwidget">
              The reader can also read a summary of the books that are looking for in the library,
              which will keep them interested and not distract.
            </div>
            <address>
              <div class="info">
                <i class="fa fa-location-arrow"></i>
                <span>Department of Electronic Engineering:Pyay Technological University,Pyay</span>
              </div>
              <div class="info">
                <i class="fa fa-envelope"></i>
                <span
                  ><a href="mailto:electronic.ptu@gmail.com"
                    >electronic.ptu@gmail.com</a
                  ></span
                >
              </div>
              <div class="info">
                <i class="fa fa-phone"></i>
                <span><a href="tel:09254031859">09254031859, 09254982169, 09444083031</a></span>
              </div>
            </address>
          </div>
        </div>
        <div class="col-md-4"></div>
        <!-- <div class="col-md-2 col-sm-6 widget-container">
          <div id="nav_menu-2" class="widget widget_nav_menu">
            <h3 class="footer-widget-title">Quick Links</h3>
            <span class="underline left"></span>
            <div class="menu-quick-links-container">
              <ul id="menu-quick-links" class="menu">
                <li><a href="#">Library News</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Meet Our Staff</a></li>
                <li><a href="#">Board of Trustees</a></li>
                <li><a href="#">Budget</a></li>
                <li><a href="#">Annual Report</a></li>
              </ul>
            </div>
          </div>
        </div> -->
        <div
          class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"
        ></div>
        <div class="col-md-4 col-sm-6 widget-container">
          <div id="text-4" class="widget widget_text">
            <h3 class="footer-widget-title">Timing</h3>
            <span class="underline left"></span>
            <div class="timming-text-widget">
              <time datetime="2017-02-13">Mon - Fri: 9 am - 3 pm</time>
              <ul>
                <li><a href="#">Closings</a></li>
                <li><a href="#">Branches</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 col-sm-6 widget-container">
          <div class="widget twitter-widget">
            <h3 class="footer-widget-title">Latest Tweets</h3>
            <span class="underline left"></span>
            <div id="twitter-feed">
              <ul>
                <li>
                  <p>
                    <a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde
                    omnis iste natus error sit voluptatem.
                    <a href="#">template-libraria.com</a>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde
                    omnis iste natus error sit voluptatem.
                    <a href="#">template-libraria.com</a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="footer-text col-md-3">
          <p>
            <a target="_blank" href="https://www.templateshub.net"
              >Templates Hub</a
            >
          </p>
        </div>
        <div class="col-md-9 pull-right">
          <ul>
            <li>
              <a href="/user">Home</a>
            </li>
            <li class="dropdown">
              <a
                data-toggle="dropdown"
                class="dropdown-toggle disabled"
                href="#"
                >Books &amp; Media</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a href="/user/booklist">Book</a>
                </li>
                <li>
                  <a href="/user/cdlist">CD</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/user/library">Library</a>
            </li>
            <li>
              <a href="/user/rule">Rules and Disciplines</a>
            </li>
            <li><a href="/user/contact">Contact</a></li>
            <% if(locals.user){%>
            <li><a href="/user/history">History</a></li>
            <%}%>
          </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
