<header id="header-v1" class="navbar-wrapper">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="row">
          <div class="col-md-3">
            <div class="navbar-header">
              <div class="navbar-brand">
                <h1>
                  <a href="index-2.html">
                    <img src="/images/libraria-logo-v1.png" alt="LIBRARIA" />
                  </a>
                </h1>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <!-- Header Topbar -->
            <div class="header-topbar">
              <div class="row">
                <div class="col-sm-6">
                  <div class="topbar-info">
                    <a href="tel:+959254982169"
                      ><i class="fa fa-phone"></i>09254982169</a
                    >
                    <span>/</span>
                    <a href="mailto:maymyatmon@ptu.edu.mm"
                      ><i class="fa fa-envelope"></i>maymyatmon@ptu.edu.mm</a
                    >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="topbar-links">
                    <a href="#"><i class="fa fa-lock"></i>Login</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-collapse hidden-sm hidden-xs">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/user">Home</a>
                </li>
                <li class="dropdown">
                  <a
                    data-toggle="dropdown"
                    class="dropdown-toggle disabled"
                    href="#"
                    >Books &amp; Media</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Book</a>
                    </li>
                    <li>
                      <a href="#">E Book</a>
                    </li>
                    <li>
                      <a href="#">CD</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Library</a>
                </li>
                <li>
                  <a href="#">Rules and Desciplines</a>
                </li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">History</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mobile-menu hidden-lg hidden-md">
          <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
          <div id="mobile-menu">
            <ul>
              <li>
                <a href="/user">Home</a>
              </li>
              <li class="dropdown">
                <a
                  data-toggle="dropdown"
                  class="dropdown-toggle disabled"
                  href="#"
                  >Books &amp; Media</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Book</a>
                  </li>
                  <li>
                    <a href="#">E Book</a>
                  </li>
                  <li>
                    <a href="#">CD</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Library</a>
              </li>
              <li>
                <a href="#">Rules and Desciplines</a>
              </li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">History</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
