<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" href="/admin">
        <span class="icon-bg"><i class="mdi mdi-home menu-icon"></i></span>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#member_ui"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-account-multiple menu-icon"></i
        ></span>
        <span class="menu-title">Member</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="member_ui">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/addstuM">Add Student Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/addstaffM">Add Staff Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/studentMList"
              >Student Member list</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/staffMList">Staff Member list</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#book_ui"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-book-multiple-variant menu-icon"></i
        ></span>
        <span class="menu-title">Book</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="book_ui">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/addbook">Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/booklist">Book List</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#cd_ui"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-book-multiple-variant menu-icon"></i
        ></span>
        <span class="menu-title">CD</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="cd_ui">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/addCD">Add CD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cdlist">CD List</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#cate_ui"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <span class="icon-bg"><i class="mdi mdi-database menu-icon"></i></span>
        <span class="menu-title">Category</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="cate_ui">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/addcategory">Add Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/categorylist">Category List</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#library_ui"
        aria-expanded="false"
        aria-controls="library_ui"
      >
        <span class="icon-bg"><i class="mdi mdi-library menu-icon"></i></span>
        <span class="menu-title">Library Process</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="library_ui">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/stuMemberAuth"
              >Student Book Borrowing</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/staMemberAuth"
              >Staff Book Borrowing</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/borrowingstu"
              >Book Borrowing Hist(Student)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/borrowingsta"
              >Book Borrowing Hist(Staff)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/warningstu"
              >Student Warning List</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/warningsta">Staff Warning List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/barcode">Barcode generator</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#librarycd_ui"
        aria-expanded="false"
        aria-controls="librarycd_ui"
      >
        <span class="icon-bg"><i class="mdi mdi-harddisk menu-icon"></i></span>
        <span class="menu-title">Library CD Process</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="librarycd_ui">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/cdstuMemberAuth"
              >Student CD Borrowing</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cdstaMemberAuth"
              >Staff CD Borrowing</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cdborrowingstu"
              >CD Borrowing Hist(Student)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cdborrowingsta"
              >CD Borrowing Hist(Staff)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cdwarningstu"
              >Student Warning List</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cdwarningsta"
              >Staff Warning List</a
            >
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item sidebar-user-actions">
      <div class="user-details">
        <div class="d-flex justify-content-between align-items-center"></div>
      </div>
    </li>

    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="/admin/logout" class="nav-link"
          ><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Log Out</span></a
        >
      </div>
    </li>
  </ul>
</nav>
